@model CRUD_Personas_UI_ASP.Models.ViewModels.ClsDepartamentoConPersonasSimplificadasVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h1>Details Departamento</h1>
        
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                <strong>@Html.DisplayNameFor(model => model.Nombre)</strong> @Html.DisplayFor(model => model.Nombre)
            </dt>
            <strong>@Html.DisplayNameFor(model => model.ListaPersonas)</strong>
            @{
                if (Model.ListaPersonas.Count > 0) //Si el departamento tiene asignado alguna persona
                {
                    <ul>
                        @foreach (ClsPersonaNombreApellidos persona in Model.ListaPersonas)
                        {
                            <li>@persona.Nombre  @persona.Apellidos</li>
                        }
                    </ul>
                }
                else
                {
                    <p>No hay personas asignadas a este departamento</p>
                }
            }
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
