@model CRUD_Personas_UI_ASP.Models.ClsPersonaNombreDepartamento

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h1>Details Persona</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                <strong>@Html.DisplayNameFor(model => model.Nombre)</strong> @Html.DisplayFor(model => model.Nombre)
            </dt>
            <dd><br /></dd>
            <dt class="col-sm-2">
                <strong>@Html.DisplayNameFor(model => model.Apellidos)</strong> @Html.DisplayFor(model => model.Apellidos)
            </dt>
            <dd><br /></dd>
            <dt class="col-sm-2">
                <strong>@Html.DisplayNameFor(model => model.Telefono)</strong> @Html.DisplayFor(model => model.Telefono)
            </dt>
            <dd><br /></dd>
            <dt class="col-sm-2">
                <strong>@Html.DisplayNameFor(model => model.Direccion)</strong> @Html.DisplayFor(model => model.Direccion)
            </dt>
            <dd><br /></dd>
            @{
                var base64 = Convert.ToBase64String(Model.Foto);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <dt class="col-sm-2">
                    <strong>@Html.DisplayNameFor(model => model.Foto)</strong>
                </dt>
                <img src="@imgSrc" wight width="80" height="80" />
            }
            <dd><br /></dd>
            <dt class="col-sm-2">
                <strong>@Html.DisplayNameFor(model => model.FechaNacimiento)</strong>  @Model.FechaNacimiento.ToString("dd-MM-yyyy")
            </dt>
            <dd><br /></dd>
            <dt class="col-sm-2">
                <strong>@Html.DisplayNameFor(model => model.NombreDepartamento)</strong> @Html.DisplayFor(model => model.NombreDepartamento)
            </dt>
        </dl>
    </div>
    <br />
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
