@model CRUD_Personas_UI_ASP.Models.ViewModels.ClsPersonaListaDepartamentosVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <h1>Edit Persona</h1>
    <h3>Edite los campos de la persona</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" required class="form-control" />
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Apellidos" class="control-label"></label>
                    <input asp-for="Apellidos" required class="form-control" />
                    @Html.ValidationMessageFor(model => model.Apellidos)
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" required class="form-control" />
                    @Html.ValidationMessageFor(model => model.Telefono)
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" required class="form-control" />
                    @Html.ValidationMessageFor(model => model.Direccion)
                </div>
                <br />
                <!--Foto-->
                @{
                    var base64 = Convert.ToBase64String(Model.Foto);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                    <div class="form-group">
                        <label asp-for="Foto" class="control-label"></label>
                        <img src="@imgSrc" width="80" height="80" />
                        <input type="file" name="imagen" class="form-control" accept=".png, .jpg">
                        <input hidden name="Foto" value="@base64"/>
                    </div>
                }
                <br />
                <!--FechaNacimiento-->
                <div class="form-group">
                    <label asp-for="FechaNacimiento" class="control-label"></label>
                    <input type="date" value="@Model.FechaNacimiento.ToString("yyyy-MM-dd")" asp-for="FechaNacimiento" class="form-control" />
                </div>
                <br />
                <!--Desplegable Lista Departamentos-->
                <div class="form-group">
                    <select name="IdDepartamento">

                        @{
                            foreach (CRUD_Personas_Entidades.ClsDepartamento departamento in Model.ListaDepartamentos)
                            {
                                if (departamento.ID == Model.IdDepartamento)
                                {
                                    <option value="@departamento.ID" selected="selected">@departamento.Nombre</option>
                                }
                                else
                                {
                                    <option value="@departamento.ID">@departamento.Nombre</option>
                                }
                            }
                        }
                    </select>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
